$namespace: "yx";

@mixin yx($block) {
    $B: $namespace + '-' + $block;

    .#{$B} {
        @content;
    }
}

@mixin deep() {
    :deep() {
        @content;
    }
}

@mixin ellipsis($rowCount: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $rowCount <=1 {
        white-space: nowrap;
    }

    @else {
        min-width: 0;
        display: -webkit-box;
        -webkit-line-clamp: $rowCount;
        -webkit-box-orient: vertical;
    }
}